.createAccount:hover {
  cursor: pointer;
}

.forgotEmail:hover {
  cursor: pointer;
}

.loginPasswordMainCOntainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:25%
}

@media (max-width: 400px) {
    .loginPasswordMainCOntainer{
        width: 90%;
    }
}
